body {
	padding-top: 60px;
}
pre.prettyprint {
	padding: 20px;
}
.container {
	position: relative;
}
/* Page: Draggable */
.draggable {
	border: 10px solid #ffcc00;
	float: left; 
	background: #ff6600;
}
#draggable-box {
	width: 300px; 
	height: 300px;
	border-radius: 50px;
}
#draggable-circle {
	width: 200px; 
	height: 200px;
	border-radius: 100px;
}

/* Page: VM Killer */
#vm-killer-container {
	margin-top: 1.5em;	
}
#vm-killer-container > div {
	border: 5px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	min-height: 300px;
}
#running-instances {
	float: left;
	width: 55%;
}
#vm-killer {
	float: right;
	width: 30%;
	position: relative;
}
.droppable-highlight {
	background-color: #66ccff !important;
}
#running-instances-list li, #instances-to-terminate li {
	list-style: none;
	background: #ffcc00;
	color: #333333;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
	margin: 10px;
	z-index: 1;
}
#instances-to-terminate li {
	background: #c00;
	color: #fff;
}
#vm-killer #terminate-link {
	position: absolute;
	bottom: 20px;
	right: 20px; 
}

/* Page: Volume Management */
#vols-container {
	margin-top: 1.5em;	
	overflow: hidden;
}
#vols-container > div {
	border: 5px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	min-height: 300px;
}
#vols-volumes {
	float: left;
	width: 30%;
}
#vols-list, .attached-volumes-list {
	margin-left: 0;
}
li.volume {
	background: #fc0;
	padding: 10px;
	margin: 10px;
	list-style: none;
	border-radius: 10px;
	z-index: 2;
}
#vols-instances {
	float: right;
	width: 55%;
	position: relative;
}
#vols-instances-list {
	margin-left: 0;
}
#vols-instances-list > li {
	background: #fff;
	box-shadow: 0px 0px 3px 1px #ccc;
	border: 1px solid #ccc;
	list-style: none;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
.attached-volumes-list > li {
	position: relative;
}
.attached-volumes-list > li a.close {
	position: absolute;
	top: 10px;
	right: 10px;
}
#vols-instances .btn {
	float: right;
	margin-right: 10px;
}

/* Page: */
#unified {
}
#unified > div > ul{
	height: 500px;
	overflow: auto;	
}
#unified #vols-instances-list > li {
	background: #fff;
	box-shadow: 0px 0px 3px 1px #ccc;
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
}
.instance-meta dt, .instance-meta dd {
	width: 10em;
	float: left;
}
/* Page: New Instance */
#size-info {
	overflow: hidden;
}
#size-info dt, #size-info dd {
	line-height: 17px;
	float: left;
}
#size-info dd {
	margin: 0 .5em;
	width: 5em;
}
#instance-size-slider {
	width: 500px;
}
#description {
	width: 490px;
	height: 6em;
}

/* Page: Instances */
#new-instance-link {
	position: absolute;
	top: 5px;
	right: 0;
}

/* Page: Vertical Tabs */
.tab-pane {
	position: relative;
}

/* Page: Sliding Tabs */
#slider-container {
	overflow: hidden;
}
.slides {
	width: 12000px;		
	overflow: hidden;
}
.slides > div {
	float: left;
	width: 940px;
	height: 600px;
	overflow: auto;
}
#vols-instances-list > li:hover {
	background: #ff0;
}
#view-instance {
	overflow: hidden;
}
#view-instance > div {
	width: 940px; 
	height: 600px;
	overflow: auto;	
}
#view-instance dt, #view-instance dd {
	float: left;
	width: 10em;
}
#view-instance > div {
	position: relative;
}
.terminate-instance-button {
	position: absolute;
	top: 10px;
	right: 10px;
}
#view-instance .volumes-tab > div > ul{
	margin: 0;	
	height: 450px;
	overflow-y: auto;
}
body > .volume {
	width: 420px;
}
