body {
	padding-top: 60px;
}
pre.prettyprint {
	padding: 20px;
}
/* Page: Draggable */
.draggable {
	border: 10px solid #ffcc00;
	float: left; 
	background: #ff6600;
}
#draggable-box {
	width: 300px; 
	height: 300px;
	border-radius: 50px;
}
#draggable-circle {
	width: 200px; 
	height: 200px;
	border-radius: 100px;
}

/* Page: VM Killer */
#vm-killer-container {
	margin-top: 1.5em;	
}
#vm-killer-container > div {
	border: 5px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	min-height: 300px;
}
#running-instances {
	float: left;
	width: 55%;
}
#vm-killer {
	float: right;
	width: 30%;
	position: relative;
}
.droppable-highlight {
	background-color: #66ccff !important;
}
#running-instances-list li, #instances-to-terminate li {
	list-style: none;
	background: #ffcc00;
	color: #333333;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
	margin: 10px;
	z-index: 1;
}
#instances-to-terminate li {
	background: #c00;
	color: #fff;
}
#vm-killer #terminate-link {
	position: absolute;
	bottom: 20px;
	right: 20px; 
}

/* Page: Volume Management */
#vols-container {
	margin-top: 1.5em;	
	overflow: hidden;
}
#vols-container > div {
	border: 5px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	min-height: 300px;
}
#vols-volumes {
	float: left;
	width: 30%;
}
#vols-list, .attached-volumes-list {
	margin-left: 0;
}
#vols-list li, .attached-volumes-list li {
	background: #fc0;
	padding: 10px;
	margin: 10px;
	list-style: none;
	border-radius: 10px;
	z-index: 2;
}
#vols-instances {
	float: right;
	width: 55%;
	position: relative;
}
#vols-instances-list {
	margin-left: 0;
}
#vols-instances-list > li {
	list-style: none;
	background: #f93;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
.attached-volumes-list > li {
	position: relative;
}
.attached-volumes-list > li a.close {
	position: absolute;
	top: 10px;
	right: 10px;
}
#vols-instances .btn {
	float: right;
	margin-right: 10px;
}

/* Page: New Instance */
#size-info {
	overflow: hidden;
}
#size-info dt, #size-info dd {
	line-height: 17px;
	float: left;
}
#size-info dd {
	margin: 0 .5em;
	width: 5em;
}
